<!-- PIE DE PÁGINA -->
<footer>
    <p>Todos los derechos reservados - <a href="https://cedavilu.com" target="_blank">CEDAVILU WEB ACADEMY 2025</a>
    </p>
    <div class="redes">
        <a href="https://www.youtube.com/@CedaviluWebAcademy" target="_blank"><i
                class="fa-brands fa-youtube"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/angeldanielfuentes/" target="_blank"><i
                class="fa-brands fa-instagram-square"></i></a>
    </div>
</footer>
