<!-- SOBRE NOSOTROS -->
<section id="sobreNosotros">
    <div class="contenedor-foto">
        <img src="/img/foto.png" alt="Angel Daniel Fuentes">
    </div>
    <div class="sobreNosotros">
        <h3 class="titulo-seccion">Sobre Nosotros</h3>
        <h2>Hola, somos <span>Cedavilu Web Academy</span></h2>
        <p>Nacimos en el año 2020 con la intención de generar todo un conjunto de cursos en línea sobre desarrollo  web y de esa forma apoyarte en tu desarrollo profesional.</p>
        <p>Nuestro propósito es transformar la vida profesional de las personas, otorgandoles recursos tecnológicos muy demandados en el mercado laboral.</p>
        <p>Teléfono: <a href="tel:+54 5667 4525" target="_blank">+54 5667 4525</a></p>
        <p>Website: <a href="https://cedavilu.com" target="_blank">www.cedavilu.com</a></p>
    </div>
</section>